*{
    margin: 0;
    padding: 0;
}
.header{
    margin-left: 40PX;
    width: 1300px;
    height: 60px;
    background:#1ABEBF url("../images/logo.png")   no-repeat center;
}
.content>h2{
    margin-left: 400px;
    margin-top: 35px;
}
.content>p{
    margin-top: 10px;
    font-size: 12px;
    margin-left: 400px;
   
}
.content>img{
    margin-top: 35px;
    margin-left: 400px;

}
.content2{
    margin-left: 400px;
    font-size: 12px;
    width: 720px;
    line-height: 20px;
    text-indent: 20px;

    
}
table{
    border-collapse: collapse;
    margin-left: 400px;
   line-height: 50px;
   width: 720px;
   margin-top: 20px;
}
table,th,td{
    text-align: center;
    border: 1px solid #333;

}
.title{
    background-color: #FF8201;
    color:#fff;
}